<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<% if !resource.no_social_auth? %>
  <h3>My Social Accounts</h3>
  <ul>
  <% resource.services.each do |service| %>
    <li><%= service['provider'] %> | <%= link_to 'Delete Service', destroy_user_omniauth_path(service_id: service.id), method: :delete %></li>
  <% end %>
  </ul>
<% end %>

<h3>Add Social Accounts</h3>
<ul>
<% [:facebook, :twitter].each do |provider| %>
  <% unless resource.has_provider?(provider) %>
    <ul><%= link_to "Connect #{provider.to_s.capitalize}", user_omniauth_authorize_path(provider) %></ul>
  <% end %>
<% end %>
</ul>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
