///### Profile
%br/
= image_tag(@user.image_url)

%h3= "Name: #{@user.name} "
%h3= "Nickname: #{@user.nickname} "
%h3= "Location: #{@user.location} "
%h3= "Description: #{@user.description} "

- if !@user.email.blank?
	%h3= "Email: #{@user.email}"


- if !@fb.nil?

	%br/
	%br/
	- p = @fb.profile
	- pronoun = p.gender == "male" ? "he" : "she"
	- pronoun_possesive = p.gender == "male" ? "his" : "hers"
	.row-fluid
		.span12.s28= p.name
	%br/
	.row-fluid
		.span12.s20= "#{p.first_name} is from #{p.hometown.name} but currently #{pronoun} is in #{p.location.name} " if p.first_name && p.hometown.name && p.location
	%br/
	.row-fluid
		.span12.s20= "A favorite quote of #{pronoun_possesive} is #{p.quotes} " if p.quotes

	%br/
	%br/

	- @fb.feed

	.row-fluid
		.span4= render 'fb/basic_info_box'
		.span4= render 'fb/basic_friends_box'
